<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/components.css">
<link rel="stylesheet" href="/css/cadastro-cpf.css">
<title>Cadastro Produtor CPF - Arena Pernambuco</title>
</head>
<body>
<div class="cadastro-page">
  <div class="cadastro-container">
    <h2 class="cadastro-title">Crie sua conta</h2>
    <h2 class="cadastro-title">Pessoa física</h2>

    <div th:if="${erroDuplicidade}" class="error">
      <span th:text="${erroDuplicidade}"></span>
      <a th:href="@{/login}">Fazer login</a>
    </div>

    <form th:action="@{/produtor/cadastro/cpf}" th:object="${usuarioCadastroProdutorDTO}" method="post">

      <div>
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" th:field="*{cpf}" placeholder="000.000.000-00" />
      </div>

      <button type="submit">Completar cadastro CPF</button>

    </form>
  </div>
</div>
</body>
</html>