<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Cadastro - Arena Pernambuco</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <div class="cadastro-page">
        <div class="cadastro-container">
            <h2 class="cadastro-title">Crie sua conta</h2>

            <div th:if="${erroDuplicidade}" class="error">
                <span th:text="${erroDuplicidade}"></span>
                <a th:href="@{/login}">Fazer login</a>
            </div>

            <form th:action="@{/cadastro}" th:object="${usuarioCadastroDTO}" method="post">
                <div>
                    <label for="nome">Insira seu nome completo</label>
                    <input type="text" id="nome" th:field="*{nome}" placeholder="Nome Sobrenome" th:classappend="${#fields.hasErrors('nome')} ? 'input-error' : ''" />
                    <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                </div>

                <div>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" th:field="*{email}" placeholder="seu@email.com" th:classappend="${#fields.hasErrors('email')} ? 'input-error' : ''" />
                    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>

                <div>
                    <label for="senha">Senha</label>
                    <span class="label-hint">Crie uma senha forte</span>
                    <input type="password" id="senha" th:field="*{password}" placeholder="******" th:classappend="${#fields.hasErrors('password')} ? 'input-error' : ''" oninput="validarSenha()" />
                    <span id="checkSenha" class="success-icon">✔️ Senha Forte</span>
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <ul class="password-hints">
                        <li>Utilize letras maiúsculas e minúsculas (ex: A, b, C).</li>
                        <li>Inclua números (ex: 1, 2, 3).</li>
                        <li>Adicione caracteres especiais (ex: @, #, $, !, &).</li>
                        <li>Tenha no mínimo 8 caracteres.</li>
                        <li>Evite informações pessoais como nome, data de nascimento ou sequências óbvias (1234, senha).</li>
                    </ul>
                </div>

                <button type="submit">Cadastrar</button>
            </form>

            <div class="cadastro-footer">
                Já tem uma conta? <a th:href="@{/login}">Faça login</a>
            </div>
        </div>
    </div>
</body>
</html>